body {
    margin: 0;
    padding: 0;
    color: #333;

    font: 100%/1.5 'Montserrat', Sans-Serif;

    background: #F6F8F7;
}

#widgetDates {
    clear: both;
    color: #666;
}

#widget {
    clear: both;
    border-left: 1px solid red;
    width: 50%;
}

.clearfix {
    clear: both;
}

section {
    position: relative;
    margin-top: 2.5em;
    clear: both;
}


h1 {
    color: white;
}

h1 ~ p {
    font-size: 2em;
    margin-top: -0.5em;
}


h2, #calendar-image {
    display: block;
    position: absolute;
    line-height: 0;
    margin-top: 0.4245em;
    text-align: right;
    width: 8em;
    padding-right: 1em;
    margin-left: -9em;
}

#redBand {
    background: red;
    height: 3em;
    width: 100%;
    position: absolute;
    top: 1.5em;
    left: 0;
}

pre {
    clear: both;
}

.hidden {
    display: none;
}

.tabs .button {
    margin: 0;
}

.button.disabled {
    background: gray;
}

.button {
        display: block;
        margin-bottom: 1em;
        margin-right: 1em;
        
        background: red;
        color: white;
        text-decoration: none;
        padding: 1em;
        float: left;

        /* drop shadow */
        position: relative;
        box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
        border-radius: 1%     1%     1%     1% /     1%     1%     1%     1%;
}

.partial-body {
    width: 70%;
    position: absolute;
    right: 0;
    padding-right: 1em;
}

ul {
    padding-left: 1em;
}

.tab {
    border: 1px solid red;
    padding: 1em;
}
